@import 'var-content';

.btn
{
    font-size: $ft-sz-bt-base;
    padding: 4px;
    text-align: center;        
    background-color:$noir;
    color: $blanc;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-right-color: $gris ;
    border-left-color:$gris;
    cursor: pointer;
    &:hover{
            background-color: $blanc;
            color : $noir;
            border-right-color: $blanc ;
            border-left-color: $blanc;
            border-bottom-color: $noir;
            border-top-color: $noir;
    }
    &:focus{
            border-color: $noir;
    }
}

.btn-small
{       
    @extend .btn;
    font-size: $ft-sz-bt-sm;
    padding: 5px;
    border-radius: 20px;
}

.btn-lg
{
    @extend .btn;
    font-size: $ft-sz-bt-lg;
    padding: 3px;
    border-radius: 20px;
}

.btn-red
{
    @extend .btn;
    background-color:$rouge;
    border-right-color: $rouge-fonce ;
    border-left-color:$rouge-fonce;
     &:hover{
            background-color: $blanc;
            color : $rouge;
            border-right-color: $blanc ;
            border-left-color: $blanc;
            border-bottom-color: $rouge;
            border-top-color: $rouge;
    }
    &:focus{
            border-color: $rouge-fonce;
    }
}

.btn-blue
{
    @extend .btn;
    background-color: $bleu;
    border-right-color: $bleu-fonce;
    border-left-color: $bleu-fonce;
     &:hover{
            background-color: $blanc;
            color : $bleu;
            border-right-color: $blanc ;
            border-left-color: $blanc;
            border-bottom-color: $bleu;
            border-top-color: $bleu;
    }
    &:focus{
            border-color: $bleu-fonce;
    }
}

.btn-green
{
    @extend .btn;
    background-color: $vert;
    border-right-color: $vert-fonce;
    border-left-color: $vert-fonce;
     &:hover{
            background-color: $blanc;
            color : $vert;
            border-right-color: $blanc ;
            border-left-color: $blanc;
            border-bottom-color: $vert;
            border-top-color: $vert;
    }
    &:focus{
            border-color: $vert-fonce;
    }
}

.btn-fancy
{
    width:200px;
    color: $blanc;
    border-radius:20px;
    border:solid 2px $rouge-fonce;
    background: $rouge;
    text-align: center;
    padding: 20px 30px;
    transition: all 0.1s;
    box-shadow: 0px 9px 0px $rouge-fonce;
    font-size: $ft-sz-bt-base;
    &:active
    {
        box-shadow: 0px 2px 0px $rouge-fonce;
        position:relative;
        top:7px;
    }
}

.btn-flat
{
    @extend .btn;
    border:none;
    border-radius: 0px;
}

.btn-xtlg
{
    @extend .btn;
    width: 100%;
}

