.titre{
    margin-top: 1.5em;
    margin-bottom: 0;
}

.text-padding
{
    padding-left: 2em;
    text-indent: 0em;
}

.border-img{
        height: 20em;
        float: left;
}

.border-img-sm{
    height: 9em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.border-img-sm2{
    margin-bottom: 1em;
    width: auto;
    height: 7em;
    float: left;
}

.flex-container 
{
  display: flex;
  flex-direction:row; 
  justify-content:space-around;
  li{
    list-style: none;
  }
  a{
    display: block;
  }
  ul{
    padding-left: 0;
  }
}

.li-clean
{
    margin-bottom: 1em;
}

.header, body
{
    background-color: #C6E2FF;
}

.header input, .header a, .header img 
{
    vertical-align: middle;
}

.bordure-ctn
{
    border: solid 1px black;
    border-radius: 10px;
    padding-top: 15px;
}

.bordure-info
{
    @extend .bordure-ctn;
    padding: 15px;
    margin-top: 2em;
}

.contenu
{
    margin-top: 2em;
    background-color: white;
    padding: 15px;
}

li img
{
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}

img a{
    vertical-align: middle;
}

a{
    text-decoration: none;
}

.categorie
{
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
}

@media screen and (max-width:50em)
{ 
    .navbar li a
    {
        border-right: none;
        border: 1px solid #ccc;
    }
    .categorie
    {
        width: 40%;
    }
    .border-img{
        height: 14em;
        float: left;
    }

    .border-img-sm{
        height: 6em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .border-img-sm2{
        margin-bottom: 1em;
        height: 5em;
        float: left;
    }
    .desc-annonce{
        display: none;
    }
}

@media screen and (max-width:25em)
{
    .flex-container
    {
        flex-direction: column;
    }
    .categorie 
    {
        width: 100%;
    }
    li img
    {
        display:none;
    }
    .border-img{
        height: 8em;
        float: left;
    }

    .border-img-sm{
        height: 3em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .border-img-sm2{
        margin-bottom: 1em;
        max-width: 5em;
        height: 4em;
        float: left;
    }
}

